<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.pathofthefood.flyingburger">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <uses-sdk
            tools:node="replace" />

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                android:name="com.pathofthefood.flyingburger.SplashScreen"
                android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity
                android:name="com.pathofthefood.flyingburger.Home"
                android:label="@string/title_activity_home">
        </activity>
        <activity android:name="com.pathofthefood.flyingburger.ProductDetailsActivity">
        </activity>
        <activity android:name="com.pathofthefood.flyingburger.ShoppingCartActivity">
        </activity>
        <activity
                android:name="com.pathofthefood.flyingburger.Map"
                android:noHistory="true"
                android:label="@string/title_activity_map">
        </activity>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <!-- PC ASUS -->

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyD6DCIfDhAfCpbMEjXH46EynDVhQ8yh_g0"/>

        <!-- Hackintosh -->
        <!--
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDkhunK1RN7pIiLgZBGaVBrjeDiDkcci2Y" />
        -->
        <!--MARIN LAPTOP TRBAJO-->
        <!--
       <meta-data
           android:name="com.google.android.maps.v2.API_KEY"
           android:value="AIzaSyANSbkyJ-F-JVk7nYNeoRDpH19fQuTANCI"/>
        -->

       <activity
               android:name="com.pathofthefood.flyingburger.Information"
               android:label="@string/title_activity_information">
       </activity>
       <activity
               android:name="com.pathofthefood.flyingburger.User_Register"
               android:label="@string/title_activity_user__register"
               android:noHistory="true"
               >
       </activity>
       <activity
               android:name="com.pathofthefood.flyingburger.Address.AddressBook"
               android:label="@string/title_activity_address">
       </activity>
       <activity
               android:name="com.pathofthefood.flyingburger.Address.AddressDetails"
               android:label="@string/title_activity_address_details">
       </activity>
       <activity
               android:name="com.pathofthefood.flyingburger.Address.NewAddress"
               android:label="@string/title_activity_new_address"
               android:noHistory="true">
       </activity>
       <activity
               android:theme="@style/Theme.AppCompat.Light.NoActionBar"
               android:name="com.pathofthefood.flyingburger.Login"
               android:label="@string/app_name"
               android:noHistory="true">
       </activity>
   </application>

</manifest>
